* {
    margin: 0;
	padding: 0;
	border: 0;
}
:root {
    --blue: rgb(71, 206, 255);
    --green: rgb(75, 255, 75);
    --red: rgb(255, 0, 0);
    --pink: rgb(252, 113, 210);
    --dark-pink: rgb(168, 2, 118);
    --background: rgb(75, 38, 110);
    --bar: rgb(29, 1, 69);
}
html body {
  height: 100%;
}
body {
    background-image: linear-gradient(to top, var(--background) 0%, #000000 100%);
    margin: 0;
    padding: 0;
    border: 0;
    display: flex;
    flex-direction: column;
    font-family: 'PT Serif';
    min-height: 100vh;
}
.container {
    text-align: center;
    margin-top: -20rem;
    border: 2px solid var(--dark-pink);
    width: 50%;
    margin-left: 23rem;
    height: 30rem;
    border-radius: 0.45rem;
    position: absolute;
    color: whitesmoke !important;
}
.container:hover {
    box-shadow: 0 0 5px var(--blue);
    border: 2 solid var(--blue);
}
.card-image img {
    transition: transform 0.5s;
    margin-top: 2rem;
}
.card-image img:hover {
    transform: scale(1.2);
}
.card-content {
    margin-top: 3rem;
}
img {
    width: 200px;
    height: 200px;
}
.container-drop {
    position: relative;
    height: 400px;
}

.drop {
    position: absolute;
    width: 1px;
    height: 20px;
    background: #fff;
    opacity: 0.5;
    animation: drop 1.5s linear infinite;
    box-shadow: 0 0 5px var(--blue);
}

.drop1 {
    left: 5%;
    animation-delay: 0.4s;
}

.drop2 {
    left: 10%;
    animation-delay: 0.7s;
}

.drop3 {
    left: 15%;
    animation-delay: 0.2s;
}

.drop4 {
    left: 20%;
    animation-delay: 0.5s;
}

.drop5 {
    left: 25%;
    animation-delay: 0.5s;
}
.drop6 {
    left: 30%;
    animation-delay: 0.9s;
}
.drop7 {
    left: 35%;
    animation-delay: 0.4s;
}
.drop8 {
    left: 40%;
    animation-delay: 0.1s;
}
.drop9 {
    left: 45%;
    animation-delay: 0.3s;
}
.drop10 {
    left: 50%;
    animation-delay: 0.5s;
}
.drop11 {
    left: 55%;
    animation-delay: 0.4s;
}

.drop12 {
    left: 60%;
    animation-delay: 0.7s;
}

.drop13 {
    left: 65%;
    animation-delay: 0.2s;
}

.drop14 {
    left: 70%;
    animation-delay: 0.5s;
}

.drop15 {
    left: 75%;
    animation-delay: 0.5s;
}
.drop16 {
    left: 80%;
    animation-delay: 0.9s;
}
.drop17 {
    left: 85%;
    animation-delay: 0.4s;
}
.drop18 {
    left: 90%;
    animation-delay: 0.1s;
}
.drop19 {
    left: 95%;
    animation-delay: 0.3s;
}
.drop20 {
    left: 99%;
    animation-delay: 0.5s;
}
@keyframes drop {
    0% {
      top: -20px;
    }
    50% {
      top: 300px;
    }
    100% {
      top: 600px;
    }
}
#vitrine {
    width: 2.5rem;
    height: 2rem;
    position: absolute;    
    margin-left: 0.5rem;
    margin-top: -18rem;
}
#vitrine:active {
    box-shadow: 0 0 12px var(--blue) !important;
}
#vitrine:hover {
    box-shadow: 0 0 8px var(--dark-pink);
  }
#home {
    position: absolute;
    margin-top: -24rem;
    margin-left: 0.5rem;
    width: 2.5rem;
    height: 2.5rem;
    box-shadow: 0 0 3px white;
    border-radius: 0.35rem;
    background-color: var(--bar);
}
#home:active {
    box-shadow: 0 0 12px var(--blue) !important;
}
#home:hover {
    box-shadow: 0 0 8px var(--dark-pink);
}
#promotiom {
    position: absolute;
    margin-top: -21rem;
    margin-left: 0.5rem;
    width: 2.5rem;
    height: 2.5rem;
    box-shadow: 0 0 3px white;
    border-radius: 0.35rem;
    background-color: var(--bar);
}
#promotiom:active {
    box-shadow: 0 0 12px var(--blue) !important;
}
#promotiom:hover {
    box-shadow: 0 0 8px var(--dark-pink);
}
    